
.studentTable{ /*overall student table*/
    width: 95%;
    margin-left: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid black;  /*this is here so that there'a always a bottom line*/
}

.studentTable tr, .studentTable td{
    padding: 0;
}

.studentTable td{ /*cell boarder color*/
    border: 1px solid black;
    border-bottom-width: 0px;
}
.studentTable input[type="text"]{
    flex-grow: 2;
}

.studentTable input[type="image"]{
    min-width: 50px;
    max-height: 50px;
}

.studentTable p{
    flex-grow: 2;
}

.studentTable .notes{
    resize: none;
    flex-grow: 2;
    font-size: 18px;
}

.studentTable p, .studentTable input, .studentTable textarea{
    max-height: 50px;
    padding-top: 0%;
    padding-bottom: 0%;
}
